{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mosaddek">
    <meta name="keyword" content="FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <link rel="shortcut icon" href="http://127.0.0.1:8000/accounts/login/img/favicon.html">
    <title>用户登录-三创题库系统</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-reset.css' %}" rel="stylesheet">
    <!--external css-->
    <link href="{% static 'assets/font-awesome/css/font-awesome.css' %}" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/style-responsive.css' %}" rel="stylesheet" />
    <script src="{% static 'js/jquery.js' %}"></script>
</head>
    <body class="login-body">
        <div class="container">
<form class="form-signin" id="register_form">
        {% csrf_token %}
        <h2 class="form-signin-heading">用户注册</h2>
        <div class="login-wrap">
            {{ form.username }}
            {{ form.password }}
            {{ form.password2 }}
            {{ form.mobile }}
            {{ form.mobile_captcha }}
            <input type="button" value="发送短信" class="btn btn-info" style="height:38px;width: 125px;"/></p>
            <button class="btn btn-lg btn-login btn-block" type="button" id="register_btn">注册</button>
            <label class="checkbox">
                <span class="pull-right"> 已有帐号， <a href="{% url 'accounts:login' %}"> 请登录 </a></span>
            </label>
            <div class="alert alert-block alert-danger fade in">
                  <button data-dismiss="alert" class="close close-sm" type="button">
                      <i class="icon-remove"></i>
                  </button>
                  <strong>提醒!</strong> 错误提示信息~~
            </div>
        </div>
      </form>
        </div>
    </body>
</html>